.img{
    height: 250px;
    display:flex ; 
    margin: auto;
}

  
h1 {
  font-weight: 400;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
  margin-top: 30px;
}


h6 {
  font-weight: 400;
  color: white;
  border: none;
  margin: 0px;
  margin-left: 5%;
  margin-bottom: 2%;
  text-align: center;
}

p {
  color: white;
  margin: 5%;
  font-size: 18px ;
}

span{
  color: white;
} 
  

form {
  max-width: 500px;
  margin: 0 auto;
}

textarea{
  width: 75%;
  height: 100px;

}


label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 10px;
  margin-top: 15px;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

button[type="submit"],
input[type="submit"] {
  border-radius: 15 px;
  background: #ec5990;
  color: white;
  text-transform: none;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  background: #bf1650;
}

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active,
.input:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

button[type="submit"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}





    


  
    
    
    