.img{
    height: 250px;
    display:flex ; 
    margin: auto;
}

  
h1 {
  font-weight: 400;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
  margin-top: 30px;
}


h6 {
  font-weight: 400;
  color: white;
  border: none;
  margin: 0px;
  margin-left: 5%;
  margin-bottom: 2%;
}

p {
  color: white;
  margin: 5%;
  font-size: 18px ;
}

span{
  color: white;
} 
  
 
    


  
    
    
    